#root {
  max-width: 1280px;
  width: 100vw;
  text-align: center;
}

#mobileMenu {
  display: none; 
}

@media (max-width: 640px) {
  #mobileMenu {
    display: block;
  }
}

.slide-in::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background-color: rgb(23 37 84 / var(--tw-text-opacity)); 
  transition: width 0.3s ease-in-out;
}

.slide-in:hover::after {
  width: 100%;
}
